:root{
    --gradient: linear-gradient(
        90deg,
        #202067,
        #695eaf,
        #202067 
    );
    --barGradient: linear-gradient(
        #202067 10%,   
        #121212 70%,
        #202067 90%
    );


    --fmInter: 'Inter', sans-serif;
    --fmMont: 'Montserrat', sans-serif;
    --fmRoboto: 'Roboto', sans-serif;

    --crl1: #202067;
    --crl2: #38357f;
    --crl3: #514a97;
    --crl4: #695eaf;
    --crl5: #8173c7;
    --crl6: #121212;
    --crl7: #FAF9F6;
    --crl8: #38255c;
}

*{
    margin: 0;
    padding: 0;
    
}

::-webkit-scrollbar{
    display: none;
}

html{
    scroll-behavior: smooth;
}
/* barra lateral */
#bar{
    width: 12vw;
    height: 100%;
    background-image: var(--barGradient);
    background-size: 100% 300%;
    background-position: bottom;
    box-shadow: .5rem 0rem 1rem #121212;
    position: fixed;
    z-index: 10;
    left: -13vw;
    transition: left .4s, background-position .8s ease-in;

    .line-1{
        transform: translateY(0%) rotate(0deg);
        transition: 0.4s;
    }
    .line-2{
        opacity: 1;
        transition: 0.4s;
    }
    .line-3{
        transform: translateY(0%) rotate(0deg);
        transition: 0.4s;
    }
}
#bar.active{
    left: 0;
    .line-1{
        transform: translateY(200%) rotate(45deg);
        transition: 0.4s;
    }
    .line-2{
        opacity: 0;
        transition: 0.4s;
    }
    .line-3{
        transform: translateY(-200%) rotate(-45deg);
        transition: 0.4s;
    }
} 
#bar ul li{
    font-size: 30px;
    list-style: none;
    color: #FAF9F6;
    width: 100%;
    text-align: center;
}
/* boton para activar el menu*/

#bar #toggleBtn{
    z-index: 1;
    position: absolute;
    top: 1rem;
    left: 13vw;
    padding: .750rem .5rem;
}
#toggleBtn{
    z-index: 10;
    box-shadow: .250rem .250rem 1rem black;
    backdrop-filter:  brightness(50%);
    cursor: pointer;
}
#toggleBtn span{
    width: 2rem;
    height: .250rem;
    background: #FAF9F6;
    display: block;
    border-radius: 0.125rem;
}
.line-2{
    margin-top: .250rem;
    margin-bottom: .250rem;
}


/* objetos del menu */

img{
    width: 8vw;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.navBtn{
    font-size: 15px;
    padding: 1rem;
    border-radius: .5rem;
    border: none;
    color: #FAF9F6;
    cursor: pointer;
    background-image: var(--gradient);
    background-size: 300%;
    background-position: left;
    box-shadow: .125rem .125rem .5rem #695eaf;
    transition: background-position 1s ease-out;
}
.navBtn:hover{
    background-position: right;
}
ul .navLi{
    padding-top: 5rem;
    height: 10vh;
    justify-content: space-between;
}


/* inicio  */
.startText{
    font-family: var(--fmInter);
    width: 100%;
    height: 100vh;
    z-index: 1;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content:  center;
    text-align: center;
    align-items: center;
    font-size: 1.5rem;
    color: #FAF9F6;
    user-select: none;
}
.mainTxt{
    font-size: 5rem;
    padding: 2rem;
    width: fit-content;
    backdrop-filter: brightness(50%);
    border-radius: .5rem;
    margin-bottom: 4rem;
    box-shadow: .5rem .5rem 1rem #121212, inset .5rem .5rem 2rem #121212;
}
.startTxt{
    padding: 1rem;
    border-radius: 0rem 0rem 1rem 1rem;
    transition: .8s ease;
}
.startTxt{
    backdrop-filter: brightness(50%);
    box-shadow: .5rem .5rem 1rem #202067;
}
#txt1{
    border-radius: 1rem 1rem 1rem 1rem;
}

/* flecha + animacion */
#arrowButton{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    width: 100%;
    z-index: 1;
    border: none;
    background: transparent;
    cursor: pointer;
}
#arrow{
    width: 2.5rem;
    aspect-ratio: 1/1;
    z-index: 1;
}
#arrow:active{
    animation: arrow .2s;
}
@keyframes arrow {
    0%{ transform: translateY(0); }
    50%{ transform: translateY(1rem); }
    100%{ transform: translateY(0); }
}
/* separador de secciones*/

.slant,.slant2{
    position: absolute;
    background-color: transparent;
    fill: #212223;
    height: 7rem;
    width: 100%;
    bottom: -15vh;
    z-index: 1;
}
.slant2{
    transform: scaleX(-1);
}

/* About me*/
.containerAboutMe{
    position: relative;
    width: 100vw;
    height: 100vh; 
}
.aboutMe{
    font-family: var(--fmMont);
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    color: var(--crl7);

    background-color: #212223;
    background-image: radial-gradient(circle, transparent 1rem, #212223 1rem),
    linear-gradient(var(--crl8) 0.5rem, transparent 0.5rem),
    linear-gradient(90deg, var(--crl8) 0.5rem, transparent 0.5rem);
    background-size: 5rem 5rem;
    background-position: 5.25rem 5.25rem, 2.5rem 2.5rem, 2.5rem 2.5rem;
}
.aboutMeTittle{
    font-size: 3rem;
    display: flex;
    justify-content: center;
    padding-top: 3rem;
}
.aboutMeTittle span{
    border: solid;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0rem 0rem 1rem 1rem;
    padding: 0rem 1rem 0rem 1rem;
}
.AboutMeTxt{
    margin-left: 2rem;
    margin-top: 2rem;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    width: 50ch;
    padding-left: 1rem;
}
.AboutMeTxt span{
    padding-top: 1.5rem;
}
.question{
    font-style: italic;
    margin-top: 3rem;
    border-radius: .5rem;
    border: solid .100rem;
    width: fit-content;
    padding: .5rem 1rem .5rem .5rem;
    box-shadow: 0rem .250rem 0rem var(--crl7);
}


/* Cartita con mi info*/
#aboutMeImg{
    position: absolute;
    width: 10rem;
    right: 23vw;
    top: 40vh;
    z-index: 3;
    transition: filter .5s linear;
    transition: .8s;
}
#aboutMeImg:hover{
    cursor: pointer;
    filter: drop-shadow(0 0 1rem #fff);
}

#aboutMeImg.active{
    transform: scale(.7);
    top: 10vh;
    right: 23vw;
    transition: all .8s;
}

#cardAboutMe{
    position: absolute;
    width: 25vw;
    height: 60vh;
    background-color: var(--crl2);
    top: 20vh;
    right: 14.5vw;
    border: solid;
    border-radius: 1rem 1rem 1rem 1rem;
    box-shadow: .25rem .25rem 0rem #FAF9F6;
    opacity: 1;
    animation: cardClose 1s linear forwards;
    animation-delay: 300ms;
    & .fromL1{animation: fromLeftClose 1s forwards; animation-delay: 500ms;}
    & .fromR1{animation: fromRightClose 1s forwards; animation-delay: 400ms;}
    & .fromL2{animation: fromLeftClose 1s forwards; animation-delay: 300ms;}
    & .fromR2{animation: fromRightClose 1s forwards; animation-delay: 200ms;}
    & .fromL3{animation: fromLeftClose 1s forwards; animation-delay: 100ms;}
    & .fromR3{animation: fromRightClose 1s forwards; animation-delay: 0ms;}
}
#cardAboutMe.active{
    animation: cardOpen 1s linear forwards;
    & .fromL1{
        opacity: 0;
        animation: fromLeft 1s forwards;
        animation-delay: 300ms;
    }
    & .fromR1{
        opacity: 0;
        animation: fromRight 1s forwards;
        animation-delay: 400ms;
    }
    & .fromL2{
        opacity: 0;
        animation: fromLeft 1s forwards;
        animation-delay: 500ms;
    }
    & .fromR2{
        opacity: 0;
        animation: fromRight 1s forwards;
        animation-delay: 600ms;
    }
    & .fromL3{
        opacity: 0;
        animation: fromLeft 1s forwards;
        animation-delay: 700ms;
    }
    & .fromR3{
        opacity: 0;
        animation: fromRight 1s forwards;
        animation-delay: 800ms;
    }
}

.info{
    font-size: 1.125rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding-block: 15%;
    padding-left: 2rem;
    color: var(--crl7);
    opacity: 1;
}
.info a{
    text-decoration: none;
    color: var(--crl7);
}
.contactImg{
    width: 2rem;
    padding: 0rem .5rem 0rem 0rem;
}


@keyframes cardClose {
    0%{ height: 60vh;}
    99%{ border: solid;}
    100%{ height: 0vh; border: none;}
}
@keyframes cardOpen {
    0%{ height: 0vh;}
    100%{ height: 60vh;}
}
@keyframes fromLeft{
    0%{ translate: 100px; opacity: 0;}
    100%{ translate: 0; opacity: 1;}
}
@keyframes fromRight{
    0%{ translate: -100px; opacity: 0;}
    100%{ translate: 0; opacity: 1;}
}
@keyframes fromLeftClose{
    100%{ translate: 100px; opacity: 0;}
    0%{ translate: 0; opacity: 1;}
}
@keyframes fromRightClose{
    100%{ translate: -100px; opacity: 0;}
    0%{ translate: 0; opacity: 1;}
}

/*projects section*/

.projectsContainer{
    position: absolute;
    width: 100vw;
    height: 100vh;
}
.projects{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #38357f;
    z-index: 1;
}
