:root{
    --gradient: linear-gradient(
        90deg,
        #202067,
        #695eaf,
        #202067 
    );
    --barGradient: linear-gradient(
        #121212 10%,
        #202067 50%
    );
}

*{
    margin: 0;
    padding: 0;
    
}
::-webkit-scrollbar{
    display: none;
}
#bar{
    width: 12vw;
    height: 100%;
    background: var(--barGradient);
    background-size: 100%;
    z-index: 5;
    position: fixed;
    left: -12vw;
    transition: .4s ease;
}
#bar.active{
    left: 0;
}
#bar ul li{
    font-size: 30px;
    list-style: none;
    color: #FAF9F6;
    width: 100%;
    text-align: center;
}
.navLi{
    padding-top: 8rem;
}
#bar #toggleBtn{
    position: absolute;
    top: 1rem;
    left: 13vw;
    padding: .750rem .5rem;
}
#toggleBtn{
    box-shadow: .250rem .250rem 1rem black;
    backdrop-filter:  brightness(50%);
}
#toggleBtn span{
    width: 2rem;
    height: .250rem;
    background: #FAF9F6;
    display: block;
    border-radius: 0.125rem;
}
.line-2{
    margin-top: .250rem;
    margin-bottom: .250rem;
}


img{
    width: 8vw;
    padding-bottom: 1rem;
}

.navBtn{
    padding: 1rem;
    border-radius: .5rem;
    border: none;
    color: #FAF9F6;
    cursor: pointer;
    background-image: var(--gradient);
    background-size: 300%;
    background-position: left;
    box-shadow: .125rem .125rem .5rem #695eaf;
    transition: background-position 1s ease-out;
}
.navBtn:hover{
    background-position: right;
}
